/* styles.css */
@import "../src/assets/styles/variable.css";

body {
  background-color: var(--background-color); /* Use background color variable */
  color: var(--text-color); /* Use text color variable */
}

.error-message {
  color: red;
}

.form-group {
  margin-bottom: 20px;
}

.btn-primary {
  background-color: var(--primary-color);
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

/* Disable mouse wheel on all number inputs */
input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
